[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"


[dev-packages]

"flake8" = "*"
isort = "*"
"flake8-builtins" = "*"
"flake8-comprehensions" = "*"
"flake8-bugbear" = "*"
"flake8-isort" = "*"
ipython = "*"
ipdb = "*"
django-extensions = "*"
black = "*"


[requires]

python_full_version = "3.6.4"


[pipenv]

allow_prereleases = true
